:root{
  background: #333;
}

.container {
	margin: 30px auto;
	width: 1000px;
}

canvas {
	margin: 0 100px;
	background: linear-gradient(to bottom right, #015C80, #1B3742);
	box-shadow: 2px 2px 8px #000,2px 2px 15px rgba(255,255,255,0.8);
}